[submodule "static/slides"]
	path = static/slides
	url = https://github.com/biancarosa/slides.git
[submodule "themes/alt-terminal"]
	path = themes/alt-terminal
	url = https://github.com/biancarosa/hugo-theme-alt-terminal.git
