<div class="right-side-section">
    <div class="right-side-section__header">{{ if eq .Site.Language.Lang "pt" }}Cursos de Go{{ else }}Go Courses [Portuguese only]{{ end }}</div>

    <div class="right-side-card">
        <div class="right-side-card__label">
            ACESSO GRATUITO
            <span class="right-side-card__badge">101</span>
        </div>
        <div class="right-side-card__title">Go Essentials</div>
        <div class="right-side-card__description">Dê os primeiros passos na programação com o Go Essentials, um
            treinamento prático e direto ao ponto que ensina a
            linguagem Go de forma simples, acessível e envolvente!</div>
        <a href="https://linuxtips.io/treinamento/go-essentials/" class="right-side-card__button">COMEÇAR A APRENDER</a>
    </div>

    <div class="right-side-card">
        <div class="right-side-card__label">
            CURSO PREMIUM
            <span class="right-side-card__badge">PRO</span>
        </div>
        <div class="right-side-card__title">Descomplicando o Go</div>
        <div class="right-side-card__description">Você deseja aprender uma linguagem moderna e eficiente para
            desenvolver aplicações de alto desempenho? Este é o
            treinamento ideal para você que quer dominar a linguagem Go e utilizá-la para criar scripts de linha de
            comando,
            desenvolver programas concorrentes e construir Web APIs robustas.
        </div>
        <a href="https://linuxtips.io/treinamento/descomplicando-o-go/" class="right-side-card__button">INSCREVA-SE
            AGORA</a>
    </div>

    <div class="right-side-card__footer">DISPONÍVEIS NA LINUXTIPS.IO</div>
</div>